@import "node_modules/@bbva-web-components/bbva-foundations-sass/main";

:host {
  display: block;
  box-sizing: border-box;
}

:host([hidden]),
[hidden] {
  display: none !important;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 70vh;
  .h3{
    font-weight: bold;
  }
  .input{
    margin-bottom: 10px;
    width: 300px;
  }
  .button{
    margin-top: 10px;
  }
}